<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) Red Hat, Inc., contributors and others 2013 - 2014. All rights reserved

    Licensed under the Eclipse Public License version 1.0, available at
    http://www.eclipse.org/legal/epl-v10.html

-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.jboss.tools.forge.core.furnaceRepository" name="furnaceRepository" schema="schema/furnaceRepository.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jboss.tools.forge.core.internal.preferences.ForgeCorePreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
         <processFactory 
	        id="org.jboss.tools.forge.core.process.ForgeProcessFactory"
         	class="org.jboss.tools.forge.core.internal.process.ForgeProcessFactory">
         </processFactory>
   </extension>
</plugin>
