<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jboss.tools.forge.core.preferences.ForgePreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
         <processFactory 
	        id="org.jboss.tools.forge.core.process.ForgeProcessFactory"
         	class="org.jboss.tools.forge.core.process.ForgeProcessFactory">
         </processFactory>
   </extension>
</plugin>
