<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.newWizards">
       <wizard
             name="New Project"
             category="org.jboss.ide.eclipse.ui.wizards"
             class="org.jboss.tools.forge.ui.wizard.newproject.NewProjectWizard"
             id="org.jboss.tools.forge.ui.wizard.newproject">
          <description>
                Create a new project
          </description>
       </wizard>
       <wizard
             name="Persistence Setup"
             category="org.jboss.ide.eclipse.ui.wizards"
             class="org.jboss.tools.forge.ui.wizard.persistence.PersistenceSetupWizard"
             id="org.jboss.tools.forge.ui.wizard.persistence">
          <description>
                Set up persistence
          </description>
       </wizard>
       <wizard
             name="New Entity"
             category="org.jboss.ide.eclipse.ui.wizards"
             class="org.jboss.tools.forge.ui.wizard.entity.NewEntityWizard"
             id="org.jboss.tools.forge.ui.wizard.entity">
          <description>
                Create new entity
          </description>
       </wizard>
       <wizard
             name="New Field"
             category="org.jboss.ide.eclipse.ui.wizards"
             class="org.jboss.tools.forge.ui.wizard.field.NewFieldWizard"
             id="org.jboss.tools.forge.ui.wizard.field">
          <description>
                Create new field
          </description>
       </wizard>
       <wizard
             name="Scaffold Setup"
             category="org.jboss.ide.eclipse.ui.wizards"
             class="org.jboss.tools.forge.ui.wizard.scaffold.ScaffoldSetupWizard"
             id="org.jboss.tools.forge.ui.wizard.scaffold.setup">
          <description>
                Set up scaffolding
          </description>
       </wizard>
       <wizard
             name="Scaffold Entities"
             category="org.jboss.ide.eclipse.ui.wizards"
             class="org.jboss.tools.forge.ui.wizard.scaffold.ScaffoldEntitiesWizard"
             id="org.jboss.tools.forge.ui.wizard.scaffold.entities">
          <description>
                Scaffold entities
          </description>
       </wizard>
       <wizard
             name="Generate Entities"
             category="org.jboss.ide.eclipse.ui.wizards"
             class="org.jboss.tools.forge.ui.wizard.reveng.GenerateEntitiesWizard"
             id="org.jboss.tools.forge.ui.wizard.reveng.entities">
          <description>
                Generate entities
          </description>
       </wizard>
    </extension> 
</plugin>
