<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) Red Hat, Inc., contributors and others 2013 - 2014. All rights reserved

    Licensed under the Eclipse Public License version 1.0, available at
    http://www.eclipse.org/legal/epl-v10.html

-->
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.newWizards">
       <category
             name="Forge"
             id="org.jboss.tools.forge.ui.wizards"
             parentCategory="org.jboss.ide.eclipse.ui.wizards" />
       <wizard
             category="org.jboss.ide.eclipse.ui.wizards/org.jboss.tools.forge.ui.wizards"
             class="org.jboss.tools.forge.ui.wizards.internal.wizard.scaffold.ScaffoldWizard"
             icon="icons/scaffold_ui.gif"
             id="org.jboss.tools.forge.ui.wizard.scaffold.entities"
             name="Scaffold UI From Entities">
          <description>
                Scaffold UI from entities
          </description>
          <keywordReference
               id="org.jboss.tools.forge.ui.wizards"/>
       </wizard>
       <wizard
             category="org.jboss.ide.eclipse.ui.wizards/org.jboss.tools.forge.ui.wizards"
             class="org.jboss.tools.forge.ui.wizards.internal.wizard.rest.RestWizard"
             icon="icons/gen-rest.gif"
             id="org.jboss.tools.forge.ui.wizard.rest"
             name="REST Endpoints From Entities">
          <description>
                Generate REST endpoints from entities
          </description>
          <keywordReference
               id="org.jboss.tools.forge.ui.wizards"/>
       </wizard>
       <wizard
             category="org.jboss.ide.eclipse.ui.wizards/org.jboss.tools.forge.ui.wizards"
             class="org.jboss.tools.forge.ui.wizards.internal.wizard.reveng.GenerateEntitiesWizard"
             icon="icons/gen-entity.gif"
             id="org.jboss.tools.forge.ui.wizard.reveng.entities"
             name="Entities From Tables">
          <description>
                Generate entities from database tables
          </description>
          <keywordReference
               id="org.jboss.tools.forge.ui.wizards"/>
       </wizard>
    </extension> 
    <extension
            point="org.eclipse.ui.keywords">
        <keyword
                label="Forge"
                id="org.jboss.tools.forge.ui.wizards"/>
   </extension>
</plugin>
