<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) Red Hat, Inc., contributors and others 2013 - 2014. All rights reserved

    Licensed under the Eclipse Public License version 1.0, available at
    http://www.eclipse.org/legal/epl-v10.html

-->
<module xmlns="urn:jboss:module:1.0" name="org.jboss.tools.forge.runtime.ext">

   <resources>
      <resource-root path="../../../../../../../../bin" />
   </resources>

   <dependencies>
      <module name="org.jboss.forge.shell.api" optional="true" />
      <module name="org.jboss.forge.shell-api" optional="true" />
      <module name="org.jboss.forge" />
      <module name="sun.misc" />
      <module name="javax.api"/>
   </dependencies>
   
</module>
