<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.forge"
            name="Forge">
      </category>
      <view
            category="org.jboss.tools.forge"
            class="org.jboss.tools.forge.ui.part.ConsoleView"
            id="org.jboss.tools.forge.console"
            name="Forge Console"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.jboss.tools.forge.view"
            targetID="org.jboss.tools.forge.console">
         <menu
               id="org.jboss.tools.forge.menubar"
               label="Forge">
         </menu>
         <action
               class="org.jboss.tools.forge.ui.action.StopDelegate"
               icon="icons/stop.gif"
               id="org.jboss.tools.forge.stop"
               label="Stop Forge"
               menubarPath="org.jboss.tools.forge.menubar"
               style="push"
               toolbarPath="org.jboss.tools.forge.toolbar">
         </action>
         <action
               class="org.jboss.tools.forge.ui.action.StartDelegate"
               icon="icons/start.gif"
               id="org.jboss.tools.forge.start"
               label="Start Forge"
               menubarPath="org.jboss.tools.forge.menu"
               style="push"
               toolbarPath="org.jboss.tools.forge.toolbar">
         </action>
      </viewContribution>
   </extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="Forge"
			class="org.jboss.tools.forge.ui.preferences.ForgeEmptyPreferencePage"
			id="org.jboss.tools.forge">
		</page>
		<page
			name="Installed Forge Runtimes"
			category="org.jboss.tools.forge"
			class="org.jboss.tools.forge.ui.preferences.ForgeInstallationsPreferencePage"
			id="org.jboss.tools.forge.runtimes">
        </page>
	</extension>

</plugin>
