<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.jboss.tools.forge.ui"
            name="JBoss Forge">
      </category>
      <command
            categoryId="org.jboss.tools.forge.ui"
            id="org.jboss.tools.forge.ui.command.runForgeCommand"
            name="Run a Forge Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.forge.ui.ext.handlers.ForgeCommandHandler"
            commandId="org.jboss.tools.forge.ui.command.runForgeCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.jboss.tools.forge.ui.command.runForgeCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+5">
      </key>
   </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="org.jboss.tools.forge.ui.ext.startup.ForgeStarter">
       </startup>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="org.jboss.tools.forge.ui.ext.preferences.ForgeExtPreferencesPage"
             id="org.jboss.tools.forge.ui.ext"
             name="Forge 2">
       </page>
    </extension>

</plugin>
