<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.themes">
       <fontDefinition
             categoryId="org.jboss.tools.aesh.ui"
             defaultsTo="org.eclipse.debug.ui.consoleFont"
             id="org.jboss.tools.aesh.ui.font"
             label="Aesh Console Font">
       </fontDefinition>
       <themeElementCategory
             id="org.jboss.tools.aesh.ui"
             label="Aesh ">
       </themeElementCategory>
    </extension>
</plugin>
