<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) Red Hat, Inc., contributors and others 2013 - 2014. All rights reserved

    Licensed under the Eclipse Public License version 1.0, available at
    http://www.eclipse.org/legal/epl-v10.html

-->
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.themes">
       <fontDefinition
             categoryId="org.jboss.tools.aesh.ui"
             defaultsTo="org.eclipse.debug.ui.consoleFont"
             id="org.jboss.tools.aesh.ui.font"
             label="Aesh Console Font">
       </fontDefinition>
       <themeElementCategory
             id="org.jboss.tools.aesh.ui"
             label="Aesh ">
       </themeElementCategory>
    </extension>
</plugin>
